<h3>Find By Phone:</h3>
<div style="width: 300px;">
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="lastname">Telephone</label>
            <input type="text" class="form-control" id="telefono" required [(ngModel)]="phone" name="telefono">
        </div>

        <div class="btn-group">
            <button type="submit" class="btn btn-success">Submit</button>
        </div>
    </form>
</div>
<ul>
    <li *ngFor="let customer of customers">
        <h4>{{customer.id}} - {{customer.nombre}} {{customer.telefono}}</h4>
    </li>
</ul>