<div style="padding: 20px;">
    <h1 style="color: blue">{{title}}</h1>
    <h3>{{description}}</h3>
    <nav>
        <button><a routerLink="customer" class="btn btn-primary active" role="button" routerLinkActive="active">Customers</a></button>
        <button><a routerLink="add" class="btn btn-primary active" role="button" routerLinkActive="active">Add</a></button>
        <button><a routerLink="findbyphone" class="btn btn-primary active" role="button" routerLinkActive="active">Search</a></button>
    </nav>
    <router-outlet></router-outlet>
</div>